// *******************************************************************************************************
// # utility class
// *******************************************************************************************************

// --------------------------------------------------
//	text align
// --------------------------------------------------
.u-ta-c {
  text-align: center !important;
}

.u-ta-l {
  text-align: left !important;
}

.u-ta-r {
  text-align: right !important;
}

// --------------------------------------------------
//	vertical align
// --------------------------------------------------
.u-va-t {
  vertical-align: top !important;
}

.u-va-m {
  vertical-align: middle !important;
}

.u-va-b {
  vertical-align: bottom !important;
}

// --------------------------------------------------
//	display
// --------------------------------------------------
.u-show {
  display: block !important;
}

.u-hide {
  display: none !important;
}

.u-visible {
  visibility: visible !important;
}

.u-invisible {
  visibility: hidden !important;
}

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  border: 0;
}

// --------------------------------------------------
//  uppercase
// --------------------------------------------------
.u-uppercase {
  text-transform: uppercase !important;
}

// --------------------------------------------------
//  clearfix
// --------------------------------------------------
.u-cfx {
  @include cfx;
}

// --------------------------------------------------
//  switch display
// --------------------------------------------------

@media #{$pc} {
  .u-pc-none {
    display: none !important;
  }
}

@media #{$sp} {
  .u-sp-none {
    display: none !important;
  }
}
