.c-list {
  @include font-weight-bold;

  & + & {
    margin-top: 8px;
  }

  .c-list {
    @include font-weight-regular;
  }
}

.c-list__item {
  position: relative;
  padding-left: 1.5em;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.5em;
    width: 4px;
    height: 4px;
    background-color: $baseColor;
    border-radius: 50%;
  }
}
