.c-temp {
  &[data-temp-level="high"] {
    color: $tempHighColor;
  }

  &[data-temp-level="low"] {
    color: $tempLowColor;
  }
}

.c-temp__value {
  @include font-size(20);
  @include line-height(28, 20);
  @include font-weight-bold;
}

.c-temp__unit {
  @include font-size(16);
  @include line-height(28, 16);
  @include font-weight-regular;
}

.c-temp__diff {
  display: block;
  @include font-size(16);
  @include line-height(28, 16);
  @include font-weight-regular;
  text-align: center;
}
